body {
	background-color:lavender; 
}
h1 {
	color: black;
	font-size: 50px;
	font-family: italic;
	text-align: center;
}

.sad{
	font-size:20px
}
h2 {
	font-size: 50px;
text-align: center;
}
.sad{
	font-size:20px
